name: Deploy to Amazon S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Configure AWS Credentials and Deploy to S3
        uses: aws-actions/configure-aws-credentials@v1
        with:
          AWS_S3_BUCKET: githubactions-s3-melfoster  # replace with your bucket name
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCES_KEY}}
          AWS_REGION: 'us-east-1'  # replace with the bucket's region
          SOURCE_DIR: 'Project_1'   # replace with the directory of your built static site if not in root




#Workflow Overview: 
#Checkout Repository: Checks out the source code of the repository.
#Install Dependencies: If needed, you can install any dependencies here, such as using npm for a static site generator.
#Deploy to S3: Uses aws-actions/configure-aws-credentials@v1 action to sync your site's contents with your S3 bucket. The --delete flag ensures that files deleted in the repository are also removed from S3 to keep them in sync.

#After adding this YAML file to the .github/workflows directory in your repository and pushing the changes to GitHub, this workflow will automatically trigger whenever you push changes to the specified branch (in this case, main). It will then deploy your static website to Amazon S3 as configured.

#NOTE:
#Make sure to replace placeholder text such as your-bucket-name, the AWS region, and SOURCE_DIR with your actual information.

